.Login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 430px;
    height: 500px;
    background-color: rgb(255, 255, 255);
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    margin: 50px auto; /* Center the container horizontally */
    text-align: center;
}

.Login h1 {
    margin-bottom: 55px;
    font-weight: 700;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px; 
}

<<<<<<< HEAD
.Login input {
=======
input {
>>>>>>> origin/main
    width: 340px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #e7e7e7;
    background-color: #e7e7e7;
    text-align: left;
    padding: 5px;
}

.submit-button {
    height: 40px;
    width: 150px;
    background-color: #f5ba13;
    border-radius: 20px;
    border: 1px solid #ecebeb;
    color: white;
    font-weight: 700;
    cursor: pointer;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.submit-button:active {
    transform: scale(0.95);
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.3);
}

<<<<<<< HEAD
.Login p {
=======
p {
>>>>>>> origin/main
    color: #616161;
    margin-bottom: 25px;
}

/* Google Sign-In Button */
.google-button {
    display: flex;
    align-items: center;
    background-color: #f5ba13;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 20px;
    text-decoration: none; /* Ensures no underline on anchor tag */
}

.google-icon {
    margin-right: 10px;
}

.Linkva {
    margin-top: 30px;
}
